<nav class="navbar navbar-expand-lg navbar-assistly sticky-top">
  <div class="container">

    <a class="navbar-brand" href="#">
      assist<span>ly</span>
    </a>

    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navMenu"
      aria-controls="navMenu"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto me-4 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#problema">El problema</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#como-funciona">Cómo funciona</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#funcionalidades">Funcionalidades</a>
        </li>
      </ul>
      <a href="#cta" class="btn-navbar">Crear solicitud</a>
    </div>

  </div>
</nav>